# Sublime Text
*.sublime-workspace

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
